{% extends 'base/base_other_pages.html' %} {% load static %}

{% block title %}
  {{ post.title|safe }} | Utkrishta Bharath | NITK | The Glorious India | UB
{% endblock %}

{% block extra_head_tags %}
  <meta name="description" content="{{ post.excerpt }}" />
  <meta name="keywords" content="{{ post.tags_for_seo_and_search_bar_in_website }}" />
  <meta name="author" content="{{ post.author }}" />
  <link rel="icon" href="/media/{{ post.thumbnail }}" type="image" />
{% endblock %}

{% block content %}
<style>
  .page-bar {
    background-color: #f8f9fa; /* Light background for the navigation bar */
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px; /* Rounded corners */
}

</style>
  <div class="page-bar">
    <div class="px-3">
      <a href="/" class="text-decoration-none text-primary">Home</a>
      <span class="text-muted">/ Educational Empowerment Programs</span> 
    </div>
  </div>
<div class="container">
  
  <h2>Support our Educational Empowerment Program</h2>
  <div class="content-fit">
    <img style="max-width: 100%;" src="{% static 'images/food.jpg' %}" alt="" />
  </div>
</div>

  
  <div class="container my-4">
    <div class="row mt-3">
      <div class="col-lg-6 mt-3">
        <p>At SenaFoundation, we believe that education is the key to changing lives. Our Educational Empowerment Programs aim to provide learning opportunities for children, youth, and women from poor or disadvantaged backgrounds. We work hard to help them gain the knowledge, skills, and values they need to build a brighter future for themselves and their families.</p>
        <p>
          <ul>
            <h5>What We Do</h5>
            <li>Scholarships and Financial Help: We offer scholarships and financial support to students who cannot afford education. This helps them stay in school and focus on learning without worrying about money.</li>
            <li>Skill Development Workshops: These workshops teach practical skills like using computers, communication, and starting small businesses. This training helps people find jobs and become self-reliant.</li>
            <li>Seminars and Conferences: We organize seminars where experts talk about important topics like education, careers, and personal development. This helps students, teachers, and parents stay informed and motivated.</li>
            <li>Extra Classes and Tutoring: Many students, especially those from poor backgrounds, struggle to keep up with their studies. We provide extra classes to help them improve in subjects like math, science, and languages.</li>
            <li>Womens Literacy Programs: We run programs to teach basic reading and writing skills to adult women. This helps them gain independence, make better decisions for their families, and improve their lives.</li>
            <li>School Supplies Support: We provide books, notebooks, and other school materials to students in need, so they can continue their education without any obstacles.</li>
          </ul>
        </p>
      </div>
      <div class="col-lg-6">
        <form class="donationform shadow-float-ajinkya user-options px-3" action="donation-confirmation" method="post" name="form_donation" id="form_donation" novalidate="novalidate">
          <div class="contribution_form_section">
            <div class="row">
              <div class="col-sm-10">
                <div class="sponspor_text">I WANT TO SUPPORT ANGANWADI FEEDING PROGRAMME.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <input type="radio" id="donations_id_1900" data-child="1" name="donations_amount" checked="checked" value="1900" onclick="enableother(this.value);" />
                <label for="donations_id_1900" style="font-weight:500 !important;">1900</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_5700" data-child="3" name="donations_amount" value="5700" onclick="enableother(this.value);" />
                <label for="donations_id_5700" style="font-weight:500 !important;">5700</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_9500" data-child="5" name="donations_amount" value="9500" onclick="enableother(this.value);" />
                <label for="donations_id_9500" style="font-weight:500 !important;">9500</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_19000" data-child="10" name="donations_amount" value="19000" onclick="enableother(this.value);" />
                <label for="donations_id_19000" style="font-weight:500 !important;">19000</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_22800" data-child="1" name="donations_amount" checked="checked" value="22800" onclick="enableother(this.value);" />
                <label for="donations_id_22800" style="font-weight:500 !important;">22800</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_28500" data-child="3" name="donations_amount" value="28500" onclick="enableother(this.value);" />
                <label for="donations_id_28500" style="font-weight:500 !important;">28500</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_34200" data-child="5" name="donations_amount" value="34200" onclick="enableother(this.value);" />
                <label for="donations_id_34200" style="font-weight:500 !important;">34200</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" id="donations_id_38000" data-child="10" name="donations_amount" value="38000" onclick="enableother(this.value);" />
                <label for="donations_id_38000" style="font-weight:500 !important;">38000</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="other single_amount">
                  <input class="otheramt-cl" type="radio" name="donations_amount" id="other_option" value="other" onclick="enableother(this.value);" checked="" />
                  <input type="text" class="otheramt otherinputs limit_donation_amt" name="otheramt" id="other" for="other_option" value="" onkeyup="changeamt(this.value);" onkeypress="return isNumberKey(event)" onchange="changeamt(this.value);" placeholder="Other Amount" style="border-radius:0px;" />
                </div>
                <input type="hidden" name="amount" id="amount" value="" />
                <input id="donation_amount" name="donation_amount" type="hidden" placeholder="amount" class="form-control input-md" readonly="" value="" title="Thank you for your consideration. Request you to sponsor for a minimum of INR 500, as any contribution lower than that is unviable due to processing costs. Appreciate your benevolence." style="background: rgb(238, 238, 238); border-color: rgb(255, 0, 0);" />
              </div>
            </div>
            <div class="form-group andalsocls">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="fs-title" style="font: 900 16px/20px 'Open Sans', sans-serif;text-align: center;margin-top: 15px;">AND ALSO</h2>
              </div>
            </div>
            <div class="form-group">
              <div class="row" id="senitisation_kit" style="padding-left: 2px;">
                <label class="col-lg-10 col-xs-12 col-md-10" for="checkboxes-2" style="margin-top: 6px;"><input style=" height: 14px !important;" type="checkbox" name="senitisation_kit_chk" id="senitisation_kit_chk" value="1" checked="" /><span>I would also like to sponsor a steel meal plate worth ₹100.</span></label>
                <div id="noofplatemiddaymeal" style="text-align: left;">
                  <input type="hidden" name="senitisation_kits" id="senitisation_kits" class="form-textboxsmall no-of-plates lions-clubs valid" onkeyup="onchangenoofsanitisationkit(this.value);" onkeypress="return isNumberKey(event)" value="" aria-invalid="false" />
                </div>
                <div class="col-lg-2 senitisation_kit_amt">
                  <input id="senitisation_kit_amt" name="senitisation_kit_amt" type="text" placeholder="100" class="form-control input-md" value="" readonly="" style="padding: 0px 7px !important;" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="amount_text">
                  You are donating ₹<span id="hidamount"></span>
                  For Anganwadi Feeding Programme
                </div>
                <p style="font-size:13px;">(Your donation will help us serve hot, tasty and nutritious meals to children, pregnant women and nursing mothers in Anganwadi centres, thus ensuring their health and well-being.)</p>
              </div>
            </div>

          </div>
          <div class="contribution_form_section donation_form_section">
            <!-- Payment options Start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="sponspor_text">Select your citizenship</div>
              </div>
            </div>

            {% comment %}2 options{% endcomment %}
            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">Indian Citizen</a>
                </div>
                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                  <div class="card-body">
                    <div class="donordetails sdonation">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="amount_text">Donor Details</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4" style="margin-bottom: 10px;">
                          <select id="selectbasic" name="salutation" class="form-control">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="M/S">M/S</option>
                          </select>
                        </div>
                        <div class="col-sm-8">
                          <input placeholder="Full Name*" name="first_name" id="first_name" class="fname full" value="" onfocus="chk_citizenshipsel();" style="border-color: rgb(255, 0, 0);" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-12">
                          <div class="inline_c">
                            <label style="padding: 9px 4px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">Birthdate</label>
                            <input class="cdte" type="date" id="datepicker2" name="donor_date_of_birth" placeholder="Birth date" style="padding-left: 10px !important;width:100%;" />
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <label style="padding: 9px 4px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">Email</label>
                          <input placeholder="Email *" name="email" id="email" type="email" class="full" onfocus="chk_citizenshipsel();" value="" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <input placeholder="Whatsapp Number" name="mobile" id="mobile" type="tel" class="full" value="" onfocus="chk_citizenshipsel();" style="border-color: rgb(255, 0, 0);" />
                          <p for="pan_number" style="font-size: 12px; padding-left: 3px;">Please share your WhatsApp number for donation updates and receipts.</p>
                        </div>
                        <div class="col-md-6">
                          <input oninput="this.className = ''" placeholder="Alternate Mobile Number" name="alternate_mobile" id="alternate_mobile" type="tel" class="full" value="" onfocus="chk_citizenshipsel();" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <input id="pan" name="pan" maxlength="10" type="text" placeholder="PAN Card No. " class="full pan-card-num" value="" style="text-transform: uppercase; border-color: rgb(255, 0, 0);" onkeyup="chkcitizenshipsel()" onfocus="chk_citizenshipsel();" />
                          <p for="pan_number" style="font-size: 12px; padding-left: 3px;">To get the 80-G certificate,please enter your PAN number</p>
                        </div>
                        <div class="col-sm-12 col-lg-6" style="margin-bottom: 10px;">
                          <input type="hidden" id="country_id" name="country_id" value="1" style="display: inline-block;" />
                          <input type="number" placeholder="Pin Code" id="postal_code" name="postal_code" class="full" onchange="GetDetailsfrompincode();" value="" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label style="padding: 9px 4px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">Address</label>
                          <textarea id="address" placeholder="Address" name="address" class="full" style="line-height: 3; resize: none; overflow: hidden;" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-lg-4" style="margin-bottom: 0px;">
                          <input type="hidden" placeholder="State" name="state_id" id="state_id" class="full" onkeydown="return /[a-z]/i.test(event.key)" style="display: inline-block;" />
                        </div>
                        <div class="col-sm-12 col-lg-4" style="margin-bottom: 0px;">
                          <input type="hidden" placeholder="City" name="city" class="full inputDistrict" id="city" value="" onkeydown="return /[a-z]/i.test(event.key)" />
                        </div>
                      </div>

                      <!-- Captcha start -->
                      <div class="donordetails citizen_type">
                        <label class="pl-3 my-3" style="font-size:15px;">Captcha</label>
                        <div class="row">
                          <div class="col-md-2 col-12 mt-2 mb-2">
                            <div class="inline_c">
                              <input id="num1" name="num1" value="3" class="full" style="text-align: center; " readonly="" />
                            </div>
                          </div>
                          <label class="col-lg-1 col-xs-12 col-md-2 col-sm-2 control-label" for="textinput" style="margin-top: 15px;text-align: center;">+</label>
                          <div class="col-md-2 col-12 mt-2 mb-2">
                            <div class="inline_c">
                              <input id="num2" name="num2" value="9" class="full" style="text-align: center;" readonly="" />
                            </div>
                          </div>

                          <label class="col-lg-1 col-xs-12 col-md-2 col-sm-2 control-label" for="textinput" style="margin-top: 15px;text-align: center;">=</label>
                          <div class="col-md-2 col-12 mt-2 mb-2">
                            <div class="">
                              <input id="captcha_result" name="captcha_result" class="full" type="text" style="" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Captcha end -->
                      <!-- Terms and conditions checkbox -->
                      <div class="row donordetails">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="checkbox privacypolicy">
                            <label for="checkboxes-0" class="trmcnd" style="font: 300 15px/20px 'Open Sans', sans-serif;"><input style="width: 17px; margin-top: -5px;" type="checkbox" name="agree" checked="" id="agree" value="1" />I have read through the website's <a href="https://www.akshayapatra.org/privacy-policy" target="_blank">Privacy Policy</a> &amp;<a href="http://www.akshayapatra.org/donors-privacy-policy" target="_blank">Terms and Conditions</a> to make a donation.</label>
                          </div>
                        </div>
                        <p>&nbsp;</p>
                      </div>
                      <!-- imp values -->
                      <input type="hidden" name="screenwidth" id="screenwidth" value="1285" />
                      <input type="hidden" name="screenheight" id="screenheight" value="560" />
                      <input type="hidden" name="baseurl" id="baseurl" value="https://www.akshayapatra.org/" />
                      <input type="hidden" name="donation_url" id="donation_url" value="donate-to-anganwadi-feeding" />
                      <input type="hidden" name="request_url" id="request_url" value="/donate-to-anganwadi-feeding" />
                      <input type="hidden" name="program_id" id="program_id" value="2" />
                      <input type="hidden" name="send_receipt" id="send_receipt" value="0" />
                      <input type="hidden" name="refernce_url" id="refernce_url" value="https://www.akshayapatra.org/" />
                      <input type="hidden" name="per_smile" id="per_smile" value="" />
                      <input type="hidden" name="browser_name" id="browser_name" value="Chrome" />
                      <input type="hidden" name="browser_version" id="browser_version" value="128.0.0.0" />
                      <input type="hidden" name="browser_platform" id="browser_platform" value="Windows" />
                      <input type="hidden" name="browser_useragent" id="browser_useragent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36" />
                      <!-- donate button -->
                      <div class="row donordetails">
                        <div class="col-lg-5 col-md-5 col-sm-12">&nbsp;</div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                          <input type="submit" name="singlebutton" id="singlebutton" class="submit action-button donatesubmit" value="Donate" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12">&nbsp;</div>
                      </div>
                      <div class="col-12">
                        <p style="font-size:13px;text-align: center;">Avail tax exemption under Section 80G</p>
                        <p>&nbsp;</p>
                      </div>
                      <!-- -donor details end -->
                    </div>
                  </div>
                </div>
              </div>

              {% comment %}card2{% endcomment %}
              <div class="card">
                <div class="card-header">
                  <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">Foreign National</a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body">
                    <div class="row bankdtls">
                      <div class="col-sm-12">
                        <div class="sponspor_text">
                          <b>Account details</b>
                        </div>
                        <p>
                          <b>SBI FCRA Account</b><br />
                          SBI Bank FCRA Account number – 40070204980<br />
                          IFSC Code – SBIN0000691 <br />
                          Address: FCRA Cell, 4th Floor, State bank of India, New Delhi Main Branch, Sansad Marg, New Delhi-110001<br />
                          SWIFT Code of SBI Bank – SBININBB104<br />
                          Branch Code: 00691 <br />
                          Sort Code: 60-01-59 <br />
                          Equivalent Sort code: 600159<br />
                          Please find attached Correspondent routing banks for SBI FCRA<br />
                        </p>

                        <p>Below details are mandatory and your donation will not be processed until you send us this information. We do not encourage anonymous donations as a policy. Also note, no donation made through debit or credit card will be acceptable adhering to RBI guidelines. To help us serve you better, please let us know your personal and donation details as soon as possible after making the donation.</p>

                        <p>
                          Please send the following to <a href="mailto:webmaster@akshayapatra.org">webmaster@akshayapatra.org</a> :-
                        </p>

                        <p>
                          Your Name<br />
                          Your Contact No <br />
                          Your Donation Transaction Number <br />
                          Your Donation Amount <br />
                          Your E-Mail – To send you the soft copy of the Cash Receipt. <br />
                          You’re Complete Postal Address
                        </p>

                        <p>
                          <b>Correspondent Bank Accounts</b><br />
                          <b>Details of Correspondent Bank Accounts maintained by SBI</b>
                        </p>
                        <div style="overflow: hidden;">
                          <table>
                            <tbody>
                              <tr style="background: #08619a;color: #fff;">
                                <th>Sl.No.</th>
                                <th>Name Of Bank</th>
                                <th>Currency</th>
                                <th>SWIFT BIC</th>
                                <th>Correspondent Code</th>
                                <th>Account Number</th>
                                <th>Country</th>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>Commonwealth Bank of Australia (4.0)</td>
                                <td>AUD</td>
                                <td>CTBAAU2S</td>
                                <td>CTBA</td>
                                <td>A/c - 06796710004168</td>
                                <td>Australia</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>National Australia Bank, Melbourne(6.0)</td>
                                <td>AUD</td>
                                <td>NATAAU33</td>
                                <td>NABM</td>
                                <td>A/c - 1803002194500</td>
                                <td>Australia</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>SBI, Sydney.</td>
                                <td>AUD</td>
                                <td>SBINAU2S</td>
                                <td>SBSY</td>
                                <td>A/c. 30103100020001</td>
                                <td>Australia</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>SBI, Bahrain (2.0)</td>
                                <td>BHD</td>
                                <td>SBINBHBM</td>
                                <td>SBBH</td>
                                <td>A/c - 2630111120002</td>
                                <td>Bahrain</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>Bank of Montreal (2.0)</td>
                                <td>CAD</td>
                                <td>BOFMCAM2</td>
                                <td>BOMNT</td>
                                <td>A/c - 31691041275</td>
                                <td>Canada</td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>Royal Bank of Canada (2.0)</td>
                                <td>CAD</td>
                                <td>ROYCCAT2</td>
                                <td>ROYAL</td>
                                <td>A/c - 095911448364</td>
                                <td>Canada</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>SBI Toronto (8.0)</td>
                                <td>CAD</td>
                                <td>SBINCATX</td>
                                <td>SBTR</td>
                                <td>A/c - 75200300120001</td>
                                <td>Canada</td>
                              </tr>
                              <tr>
                                <td>8</td>
                                <td>SBI SHANGHAI</td>
                                <td>CNY</td>
                                <td>SBINCNSH</td>
                                <td>SBSH</td>
                                <td>AC 06710275228851</td>
                                <td>China</td>
                              </tr>
                              <tr>
                                <td>9</td>
                                <td>Den Danske Bank (40.0)</td>
                                <td>DKK</td>
                                <td>DABADKKK</td>
                                <td>DENDA</td>
                                <td>A/c - 3007515596</td>
                                <td>Denmark</td>
                              </tr>
                              <tr>
                                <td>10</td>
                                <td>Nordea</td>
                                <td>DKK</td>
                                <td>NDEADKKK</td>
                                <td>NORD</td>
                                <td>5000023231</td>
                                <td>Denmark</td>
                              </tr>
                              <tr>
                                <td>11</td>
                                <td>Societe Generale Paris</td>
                                <td>EUR</td>
                                <td>SOGEFRPP</td>
                                <td>SOGPE</td>
                                <td>A/c - 003016200460</td>
                                <td>France</td>
                              </tr>
                              <tr>
                                <td>12</td>
                                <td>Commerz Bank AG, FFT (1.0)</td>
                                <td>EUR</td>
                                <td>COBADEFF</td>
                                <td>COMME</td>
                                <td>A/c - 30040000/600068253400</td>
                                <td>Germany</td>
                              </tr>
                              <tr>
                                <td>13</td>
                                <td>Deutsche Bank AG FFT (1.0)</td>
                                <td>EUR</td>
                                <td>DEUTDEFF</td>
                                <td>DEUTE</td>
                                <td>A/C 10095344961100</td>
                                <td>Germany</td>
                              </tr>
                              <tr>
                                <td>14</td>
                                <td>HSBC FRANCE (EUR)</td>
                                <td>EUR</td>
                                <td>HSBCF</td>
                                <td>FR76 3005 6008 2908 2900 0003 984</td>
                                <td>A/c - 06796710004168</td>
                                <td>Germany</td>
                              </tr>
                              <tr>
                                <td>15</td>
                                <td>SBI FFT (20.0)</td>
                                <td>EUR</td>
                                <td>SBINDEFF</td>
                                <td>SBFRE</td>
                                <td>A/c - 52607101120001</td>
                                <td>Germany</td>
                              </tr>
                              <tr>
                                <td>16</td>
                                <td>SBI Hongkong (50.0)</td>
                                <td>HKD</td>
                                <td>SBINHKHH</td>
                                <td>SBHK</td>
                                <td>A/c - 07600201320001</td>
                                <td>Hong Kong</td>
                              </tr>
                              <tr>
                                <td>17</td>
                                <td>BANCA INTESA BCI S.P.A, (Banka Com. Italiana) Milan (1.0)</td>
                                <td>EUR</td>
                                <td>BCITITMM</td>
                                <td>BCIE</td>
                                <td>A/c -100100003599</td>
                                <td>Italy</td>
                              </tr>
                              <tr>
                                <td>18</td>
                                <td>Uni Credito Italiano, Milan (1.0)</td>
                                <td>EUR</td>
                                <td>UNCRITMM</td>
                                <td>CRTLE</td>
                                <td>A/c - 995-104480943</td>
                                <td>Italy</td>
                              </tr>
                              <tr>
                                <td>19</td>
                                <td>Bank of Tokyo Ltd. (200.0) MUFG Bank Limited</td>
                                <td>JPY</td>
                                <td>BOTKJPJT</td>
                                <td>BOT</td>
                                <td>A/c - 653-0439800</td>
                                <td>Japan</td>
                              </tr>
                              <tr>
                                <td>20</td>
                                <td>Mizuho Corporate Bk(200.0)</td>
                                <td>JPY</td>
                                <td>MHCBJPJT</td>
                                <td>DACHI</td>
                                <td>A/c - 0499020</td>
                                <td>Japan</td>
                              </tr>
                              <tr>
                                <td>21</td>
                                <td>SBI Tokyo (2,000.0)</td>
                                <td>JPY</td>
                                <td>SBINJPJT</td>
                                <td>SBTK</td>
                                <td>A/c -10177001220001</td>
                                <td>Japan</td>
                              </tr>
                              <tr>
                                <td>22</td>
                                <td>Gulf Bank K,S.C. Kuwait (2.0)</td>
                                <td>KWD</td>
                                <td>GULBKWKW</td>
                                <td>GULF</td>
                                <td>A/c - 0000000005514465</td>
                                <td>Kuwait</td>
                              </tr>
                              <tr>
                                <td>23</td>
                                <td>ANZ Banking Corporation, Auckland.</td>
                                <td>NZD</td>
                                <td>ANZBNZ22</td>
                                <td>ANZNZ</td>
                                <td>A/c- 921106NZD00001</td>
                                <td>New Zealand</td>
                              </tr>
                              <tr>
                                <td>24</td>
                                <td>Den Norske Bank (50.0)</td>
                                <td>NOK</td>
                                <td>DNBANOKK</td>
                                <td>DENO</td>
                                <td>A/c - 7001.02.04168</td>
                                <td>Norway</td>
                              </tr>
                              <tr>
                                <td>25</td>
                                <td>SBI MUSCAT</td>
                                <td>OMR</td>
                                <td>SBINOMRX</td>
                                <td>SBOM</td>
                                <td>AC 00100484021001</td>
                                <td>Oman</td>
                              </tr>
                              <tr>
                                <td>26</td>
                                <td>Qatar National Bank</td>
                                <td>QAR</td>
                                <td>QNBAQAQA</td>
                                <td>QNQA</td>
                                <td>A/c - 0001-800572-001</td>
                                <td>Qatar</td>
                              </tr>
                              <tr>
                                <td>27</td>
                                <td>SBI ,Commercial Bk. Of India, Moscow, Russia.</td>
                                <td>RUB</td>
                                <td>CODLRUMM</td>
                                <td>CTBA</td>
                                <td>A/c-30111-810-7-0000-0000001</td>
                                <td>Russia</td>
                              </tr>
                              <tr>
                                <td>28</td>
                                <td>National Comm. Bank,Jeddah (20.0)</td>
                                <td>SAR</td>
                                <td>NCBKSAJE</td>
                                <td>NCB</td>
                                <td>A/c - SA 6010000055535311000107</td>
                                <td>Saudi Arabia</td>
                              </tr>
                              <tr>
                                <td>29</td>
                                <td>Development Bank of Singapore (5.0)</td>
                                <td>SGD</td>
                                <td>DBSSSGSG</td>
                                <td>DBSN</td>
                                <td>A/c - 037-000210-0 SBI</td>
                                <td>Singapore</td>
                              </tr>
                              <tr>
                                <td>30</td>
                                <td>SBI Singapore (25.0)</td>
                                <td>SGD</td>
                                <td>SBINSGSG</td>
                                <td>SBSN</td>
                                <td>A/c - 277100011200018</td>
                                <td>Singapore</td>
                              </tr>
                              <tr>
                                <td>31</td>
                                <td>SBI, Johannesburg (100.0)</td>
                                <td>ZAR</td>
                                <td>SBINZAJJ</td>
                                <td>SBJB</td>
                                <td>A/c -32634000420001</td>
                                <td>South Africa</td>
                              </tr>
                              <tr>
                                <td>32</td>
                                <td>Banco Bilbao Vizcaya Madrid(1.0)</td>
                                <td>EUR</td>
                                <td>BBVAESMM</td>
                                <td>BBVME</td>
                                <td>A/c - 01820061770080107287</td>
                                <td>Spain</td>
                              </tr>
                              <tr>
                                <td>33</td>
                                <td>Skandinaviska Enskilda Bkn. Stockholm(25.0)</td>
                                <td>SEK</td>
                                <td>ESSESESS</td>
                                <td>SEB</td>
                                <td>A/c - 52018527908</td>
                                <td>Swedan</td>
                              </tr>
                              <tr>
                                <td>34</td>
                                <td>Svenska Handels Bkn. Stockholm (25.)</td>
                                <td>SEK</td>
                                <td>HANDSESS</td>
                                <td>SHB</td>
                                <td>A/c - 40406199</td>
                                <td>Swedan</td>
                              </tr>
                              <tr>
                                <td>35</td>
                                <td>Zuercher Kantonal Bank (5.0)</td>
                                <td>CHF</td>
                                <td>ZKBKCHZZ</td>
                                <td>ZKBZ</td>
                                <td>A/c - 0700-00035.769</td>
                                <td>Switzerland</td>
                              </tr>
                              <tr>
                                <td>36</td>
                                <td>Abu Dhabi Commercial Bank</td>
                                <td>AED</td>
                                <td>ADCBAEAA</td>
                                <td>ADCB</td>
                                <td>AC 10274073001001</td>
                                <td>UAE</td>
                              </tr>
                              <tr>
                                <td>37</td>
                                <td>MASHREQ BANK</td>
                                <td>AED</td>
                                <td>BOMLAEAD</td>
                                <td>MASH</td>
                                <td>AC 01903000199</td>
                                <td>UAE</td>
                              </tr>
                              <tr>
                                <td>38</td>
                                <td>National Bank of Abudhabi (6.0)</td>
                                <td>AED</td>
                                <td>NBADAEAA</td>
                                <td>NBAD</td>
                                <td>A/c - 0250008661</td>
                                <td>UAE</td>
                              </tr>
                              <tr>
                                <td>39</td>
                                <td>Standard Chartered Bank</td>
                                <td>GBP</td>
                                <td>SCBLDEFX</td>
                                <td>SCB</td>
                                <td>A/c -01269782301</td>
                                <td>UK</td>
                              </tr>
                              <tr>
                                <td>40</td>
                                <td>HSBC LONDON</td>
                                <td>GBP</td>
                                <td>MIDLGB22</td>
                                <td>HSBCL</td>
                                <td>A/C 35675373</td>
                                <td>UK</td>
                              </tr>
                              <tr>
                                <td>41</td>
                                <td>SBI, London (15.0)</td>
                                <td>GBP</td>
                                <td>SBINGB2L</td>
                                <td>SBLN</td>
                                <td>A/c - 00035601</td>
                                <td>UK</td>
                              </tr>
                              <tr>
                                <td>42</td>
                                <td>BANK OF AMERICA(MER)</td>
                                <td>USD</td>
                                <td>BOFAUS3N</td>
                                <td>BOA</td>
                                <td>/6550692214</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>43</td>
                                <td>BANK OF NEW YORK</td>
                                <td>USD</td>
                                <td>IRVTUS3N</td>
                                <td>BONY</td>
                                <td>/8033163690</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>44</td>
                                <td>CITI BANK, NEW YORK</td>
                                <td>USD</td>
                                <td>CITIUS33</td>
                                <td>CITI</td>
                                <td>/10929243</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>45</td>
                                <td>DEUTSCHE BANK TRUST(BTC)-Main</td>
                                <td>USD</td>
                                <td>BKTRUS33</td>
                                <td>BTC</td>
                                <td>/04009539</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>46</td>
                                <td>HSBC BANK, NEW YORK</td>
                                <td>USD</td>
                                <td>MRMDUS33</td>
                                <td>MMBM</td>
                                <td>/0000028592</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>47</td>
                                <td>JP MORGAN CHASE</td>
                                <td>USD</td>
                                <td>CHASUS33</td>
                                <td>CHAMN</td>
                                <td>/544721930</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>48</td>
                                <td>SBI CALIFORNIA</td>
                                <td>USD</td>
                                <td>SBCAUS6L</td>
                                <td>SBCA</td>
                                <td>/001999999</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>49</td>
                                <td>SBI NEW YORK</td>
                                <td>USD</td>
                                <td>SBINUS33</td>
                                <td>SBNY</td>
                                <td>/77600125220002</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>50</td>
                                <td>STANDARD CHARTERD BANK</td>
                                <td>USD</td>
                                <td>SCBLUS33</td>
                                <td>SCNY</td>
                                <td>/3582088714001</td>
                                <td>USA</td>
                              </tr>
                              <tr>
                                <td>51</td>
                                <td>WELLS FARGO BANK (PHILADELPHIA)</td>
                                <td>USD</td>
                                <td>PNBPUS33</td>
                                <td>CSBP</td>
                                <td>/2000090613528</td>
                                <td>USA</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          
        </form>
      </div>
    </div>

    
     
    </div>
  </div>


{% endblock %}
