<section style="background-color: #F4BC21;" class="p-5 pt-xs-20 pb-xs-20 pt-sm-20 pb-sm-20 ctc">
    <div class="container">
        <div class="row align-items-center justify-content-between"> <!-- Adjusted for better alignment -->
            <div class="col-lg-9 col-md-9 col-sm-12 text-right">
                <h3 class="montextralight heading color-white">The Best Way to Make a Difference in the Lives of
                    Others</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 text-left"> <!-- Removed unnecessary wrapper div -->
                <a class="donate-btn_call_to_a" href="onlinedonations">DONATE NOW</a>
                <!-- Direct link for simplicity -->
            </div>
        </div>
    </div>
</section>






<footer id="colophon" class="site-footer">
    <div class="footersection">
        <div class="container footer">
            <div class="row">
                <div
                    class="col-xl-3 col-12 newsletter-section text-lg-left text-md-left text-sm-center text-center">
                    <div class="footer_logo_sec footer_center">
                        <img src="includefiles/settings/logo1.png" class="img-fluid" alt="logo">
                    </div>
                    <div class="footcontent pt-20">
                        <p class="montregular fs-14">
                            The Akshaya Patra Foundation is a non profit organisation that strives to eliminate
                            classroom hunger by implementing the Mid Day Meal Programme
                        </p>
                    </div>
                    <div class="footer_content">
                        <ul class="social_links">
                            <li>
                                <a href="="_blank"
                                    class="color-head">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href=""
                                    target="_blank" class="color-head">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank"
                                    class="color-head">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href=""target="_blank" class="color-head">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank"
                                    class="color-head">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 mt-5	d-xl-none mobile-show">
                        <div class="footer_links">
                            <p class="m-0 text-left  color-head">Get IN Touch</p>
                            <div class="AW-Form-316784773"></div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 d-lg-block d-md-block">
                    <div class="row">
                        <div class="col-6 col-xl-2">
                            <div class="footer_links">
                                <p class="color-head">About Us</p>
                                <div class="menu-about-us-footer-container">
                                    <ul id="menu-about-us-footer" class="footer_list">
                                        <li>
                                            <a href="about-us">About Us</a>
                                        </li>
                                        <li>
                                            <a href="our-vision-and-mission">Our Vision and Mission</a>
                                        </li>
                                        <li>
                                            <a href="history">Inspiration – The story of Hope</a>
                                        </li>
                                        <li>
                                            <a href="board-of-trustees">Board of Trustees</a>
                                        </li>
                                        <li>
                                            <a href="tax-exemption-donation-faqs">Tax exemption donation faqs</a>
                                        </li>
                                        <li>
                                            <a href="donors-privacy-policy">Term’s and Conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="footer_links">
                                <p class="color-head">Our Work</p>
                                <div class="menu-our-work-container">
                                    <ul id="menu-our-work" class="footer_list">
                                        <li>
                                            <a href="our-work">Our Work</a>
                                        </li>
                                        <li>
                                            <a href="feeding-for-education">Feeding For Education</a>
                                        </li>
                                        <li>
                                            <a href="mid-day-meal">Mid-Day Meal</a>
                                        </li>
                                        <li>
                                            <a href="disaster-relief-feeding">Relief feeding</a>
                                        </li>
                                        <li>
                                            <a href="research-advocacy">Research &amp; Advocacy</a>
                                        </li>
                                        <li>
                                            <a href="beyond-meals">Beyond Meals</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="footer_links">
                                <p class="color-head">Get Involved</p>
                                <div class="menu-get-involved-container">
                                    <ul id="menu-get-involved" class="footer_list">
                                        <li>
                                            <a href="future-shaper">Future shaper</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xl-2">
                            <div class="footer_links">
                                <p class="color-head">Donate</p>
                                <div class="menu-donate-container">
                                    <ul id="menu-donate" class="footer_list">
                                        <li>
                                            <a href="onlinedonations">Online donations</a>
                                        </li>
                                        <li>
                                            <a href="sponsor-a-school-for-a-year">Sponsor a School</a>
                                        </li>
                                        <li>
                                            <a href="kitchen-equipment">Sponsor a kitchen</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xl-4 d-none d-sm-block">
                            <div class="footer_links">
                                <p class="color-head">Get IN Touch</p>
                                <div class="menu-donate-container">
                                    <ul id="menu-donate" class="footer_list">
                                        <li>
                                            <a href="contact-us">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <form name="subscribers" id="subscribers"
                                        action="" method="post"
                                        novalidate="novalidate">
                                        <div class="form-group">
                                            <span>Subscribe E-newsletter</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="Full Name"
                                                class="form-control style-1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="email" placeholder="Email Address"
                                                class="form-control style-1">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-submit">Submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="row">
                <div class="col-sm-3 text-lg-left text-md-left text-sm-center text-center">
                    <div class="donate_upi pt-0">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="web_list web_list footer_links" style="display:none;">
                                <p class="color-head">REGIONAL WEBSITES</p>
                                <ul class="state_list">
                                    <li>Andhra Pradesh</li>
                                    <li>Assam</li>
                                    <li>Gujarat</li>
                                    <li>Karnataka</li>
                                    <li>Odisha</li>
                                    <li>Rajasthan</li>
                                    <li>Tamil Nadu</li>
                                    <li>Telangana</li>
                                    <li>U.P.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr class="web_list_line">
                        </div>
                        <div class="col-sm-3 charity_id">
                            <p>Charity Id : AAATT6468P</p>
                        </div>
                        <div class="col-sm-7 copyright">
                            <!--<p>Sena Foundation © 2024 Website Developed & Maintenance By <a href=" Yogi</a></p>-->
                            <p>Sena Foundation © 2024</p>
                        </div>
                        <div class="col-sm-2 copyright">
                            <img src="includefiles/settings/GPTW23-logo.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="includes/asset/image/footer_bg.png" alt="" class="footer_bg">
    </div>
</footer>
