       <!-- navbar -->{% load static %}
       <header class="header" style="position: relative; background: rgb(0, 0, 0);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <button class="navbar-toggler offcanvas-trigger text-light" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas"
                            aria-controls="navbarOffcanvas">
                            <img 
              class="header-search-icon" 
              src="{% static 'images/sidebar.png' %}" 
              alt="Search icon for the sidebar" 
              width="32"   
              height="32"   
              loading="lazy" 
            />


                        </button>
                        <nav class="main_nav">
                            <ul>
                                <li class="mr-1">
                                    <a class="navbar-brand" href="#">
                                        <img src="ajinkya.jpeg" alt="AJINKYA" style="width: 40px;"
                                            class="rounded-circle me-4">
                                    </a>
                                </li>

                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.0s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="/" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            HOME
                                        </a>
                                    </div>
                                </li>



                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.1s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            ABOUT US
                                        </a>
                                        <div class="dropdown-menu1 dropdownard-content  px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <!-- First Column with a vertical line -->
                                                    <div class="col-6 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">

                                                        <ul class="list-unstyled">
                                                            
                                                            <li><a class="dropdown-item" style="font-weight: bold;"
                                                                    href="/about-us">About Us</a></li><br>
                                                            <li><a class="dropdown-item"
                                                                    href="/vision-and-mission">Our
                                                                    Vision and Mission</a></li><br>
                                                            <li><a class="dropdown-item" href="/board-of-trustees">Board of Trustees</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/advisory-board">Advisor Board</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="/leadership-team">Leadership Team</a>
                                                            </li><br>
                                                            <!-- <li><a class="dropdown-item" href="#">Government Partners</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <!-- Second Column -->
                                                    <div class="col-6 px-1">
                                                        <ul class="list-unstyled">
                                                            <!-- <li><a class="dropdown-item" href="#">Think Tanks</a></li> -->
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Partners</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Financials</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Audit</a></li><br>
                                                            <li><a class="dropdown-item" href="#">How Your Money is
                                                                    Spent</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Financial Reports</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>




                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.2s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            WHAT WE DO
                                        </a>
                                        <div class="dropdown-menu1 dropdownard-content px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <ul class="list-unstyled">
                                                            
                                                            <li><a class="dropdown-item" href="/our-work">Our Work</a></li><br>
                                                            <li><a class="dropdown-item" href="/educational-seminars">Educational
                                                                    Seminars</a></li><br>
                                                            <li><a class="dropdown-item" href="/free-education">Free Education</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/research">Research</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/our-reach">Our Reach</a></li><br>
                                                            <li><a class="dropdown-item" href="/school-covered">Schools covered </a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/colleges-covered">Colleges Covered</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/initiatives">Impact</a></li><br>
                                                            <li><a class="dropdown-item" href="/#our-stories">Success Stories</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/our-experience">Experiences</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>



                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.3s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            GET INVOLVED
                                        </a>
                                        <div class="dropdown-menu1 dropdownard-content px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <h4 class="dropdown-item1" style="font-weight: bold;">How to
                                                            help</h4>
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="#">Volunteering
                                                                    Opportunity</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Talent Magnet</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Carrier</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Young leader
                                                                    collective</a></li>
                                                            <li><a class="dropdown-item" href="#">CSR Opportunity</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">

                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="#">Fund Raise with us</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Fundraising
                                                                    Campaigns</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Online Donations</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Occasional
                                                                    Donations</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Montly Donations</a>
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">Yearly Donations</a>
                                                            </li>
                                                            <!-- <li><a class="dropdown-item" href="#"></a></li> -->
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="#">Sponsor a kid</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Sponsor a School</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Donate in Honor</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Donate in Memory</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>




                              

                                





                                <li class="nav-item px-2 text-light" style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.5s;">
                                    <a href="/donate" class="nav-item btn text-decoration-none font-monospace text-light donate-btn">DONATE</a>
                                  </li>
                                  <li class="nav-item px-2 text-light" style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.6s;">
                                    <a href="/login" class="nav-item btn btn-warning text-decoration-none font-monospace login-btn">
                                        Login
                                    </a>
                                    
                                  </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Offcanvas Component -->
<div class="offcanvas offcanvas-end text-bg-dark" id="navbarOffcanvas">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Menu</h1>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="mr-1">
          <a class="navbar-brand" href="#"><img src="ajinkya.jpeg" alt="AJINKYA" style="width: 40px;" class="rounded-circle me-4" /></a>
          
        </li>
        <li class="nav-item px-2 text-light" style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.5s;">
          <a href="/donate" class="nav-item btn text-decoration-none font-monospace text-light donate-btn">DONATE</a>
        </li>
        <!-- ABOUT US SECTION -->
        <li class="menu_mm px-1 text-light">
          <a href="#about-us" class="nav-link text-light text-decoration-none font-monospace" style="font-weight: bold;">ABOUT US</a>
          <ul class="list-unstyled px-3">
            <li><a class="dropdown-item" href="/about-us">About Us</a></li>
            <li><a class="dropdown-item" href="/vision-and-mission">Our Vision and Mission</a></li>
            <li><a class="dropdown-item" href="/board-of-members">Board of Trustees</a></li>
            <li><a class="dropdown-item" href="/advisory-board">Advisor Board</a></li>
            <li><a class="dropdown-item" href="/leadership-team">Leadership Team</a></li>
          </ul>
        </li>
  
        <!-- GET INVOLVED SECTION -->
        <li class="menu_mm px-1 text-light">
          <a href="#get-involved" class="nav-link text-light text-decoration-none font-monospace" style="font-weight: bold;">GET INVOLVED</a>
          <ul class="list-unstyled px-3">
            <li><a class="dropdown-item" href="/volunteer">Volunteer</a></li>
            <li><a class="dropdown-item" href="/donate">Donate</a></li>
            <li><a class="dropdown-item" href="/partnerships">Partnership Opportunities</a></li>
            <li><a class="dropdown-item" href="/events">Events</a></li>
            <li><a class="dropdown-item" href="/fundraising">Fundraising</a></li>
          </ul>
        </li>
  
        <!-- PROGRAMS SECTION -->
        <li class="menu_mm px-1 text-light">
          <a href="#programs" class="nav-link text-light text-decoration-none font-monospace" style="font-weight: bold;">PROGRAMS</a>
          <ul class="list-unstyled px-3">
            <li><a class="dropdown-item" href="/programs/education">Educational Programs</a></li>
            <li><a class="dropdown-item" href="/programs/health">Health Programs</a></li>
            <li><a class="dropdown-item" href="/programs/community">Community Development</a></li>
            <li><a class="dropdown-item" href="/programs/environment">Environmental Awareness</a></li>
            <li><a class="dropdown-item" href="/programs/cultural">Cultural Enrichment</a></li>
          </ul>
        </li>
  
        <!-- BLOGS SECTION -->
        <li class="menu_mm px-1 text-light">
          <a href="#blogs" class="nav-link text-light text-decoration-none font-monospace" style="font-weight: bold;">BLOGS</a>
          <ul class="list-unstyled px-3">
  
            
            <li><a class="dropdown-item" href="/category">All Articles</a></li>
  
          </ul>
        </li>
  
        <!-- OTHER CATEGORIES -->
        <li class="menu_mm px-1 text-light">
          <a href="#categories" class="nav-link text-light text-decoration-none font-monospace" style="font-weight: bold;">CATEGORIES</a>
          <ul class="list-unstyled px-3">
            <li><a class="dropdown-item" href="/category/{{ cat.url }}">{{ cat.title }}</a></li>
            <li><a href="/our_youtube_videos" class="dropdown-item">Videos</a></li>
            <li><a href="/gallery" class="dropdown-item">Gallery</a></li>
          </ul>
        </li>
  
      </ul>
    </div>
  </div>