    <!-- navbar -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <button class="navbar-toggler offcanvas-trigger text-light" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas"
                            aria-controls="navbarOffcanvas">
                            <svg class="svg-icon"
                                style="width: 1.2em; height: 1.2em; vertical-align: middle; fill: #ffffff; overflow: hidden; stroke: #ffffff; stroke-width: 20;"
                                viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M987.7 86.8H367.3c-20.1 0-36.3 11-36.3 24.7v178.1c0 13.7 16.2 24.7 36.3 24.7h620.4c20.1 0 36.3-11 36.3-24.7v-178c0-13.8-16.2-24.8-36.3-24.8zM987.7 398.2H367.3c-20.1 0-36.3 11-36.3 24.7V601c0 13.7 16.2 24.7 36.3 24.7h620.4c20.1 0 36.3-11 36.3-24.7V423c0-13.7-16.2-24.8-36.3-24.8zM987.7 709.7H367.3c-20.1 0-36.3 11-36.3 24.7v178.1c0 13.7 16.2 24.7 36.3 24.7h620.4c20.1 0 36.3-11 36.3-24.7V734.4c0-13.7-16.2-24.7-36.3-24.7zM209.6 276.7L9.9 500.9c-5.6 6.3-5.6 15.9 0 22.2l199.7 224.2c10.2 11.4 29.1 4.2 29.1-11.1V287.8c0-15.3-18.9-22.6-29.1-11.1z" />
                            </svg>


                        </button>
                        <nav class="main_nav">
                            <ul>
                                <li class="mr-1">
                                    <a class="navbar-brand" href="#">
                                        <img src="ajinkya.jpeg" alt="AJINKYA" style="width: 40px;"
                                            class="rounded-circle me-4">
                                    </a>
                                </li>


                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.2s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            ABOUT US
                                        </a>
                                        <div class="dropdown-menu1 dropdownard-content  px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <!-- First Column with a vertical line -->
                                                    <div class="col-6 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">

                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" style="font-weight: bold;"
                                                                    href="/about-us">About Us</a></li><br>
                                                            <li><a class="dropdown-item"
                                                                    href="/vision-and-mission">Our
                                                                    Vision and Mission</a></li><br>
                                                            <li><a class="dropdown-item" href="board-of-members">Board of Trustees</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/advisory-board">Advisor Board</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="/leadership-team">Leadership Team</a>
                                                            </li><br>
                                                            <!-- <li><a class="dropdown-item" href="#">Government Partners</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <!-- Second Column -->
                                                    <div class="col-6 px-1">
                                                        <ul class="list-unstyled">
                                                            <!-- <li><a class="dropdown-item" href="#">Think Tanks</a></li> -->
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Partners</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Financials</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Audit</a></li><br>
                                                            <li><a class="dropdown-item" href="#">How Your Money is
                                                                    Spent</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Financial Reports</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>




                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.4s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            WHAT WE DO
                                        </a>
                                        <div class="dropdown-menu dropdownard-content px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/our-work">Our Work</a></li><br>
                                                            <li><a class="dropdown-item" href="/educational-seminars">Educational
                                                                    Seminars</a></li><br>
                                                            <li><a class="dropdown-item" href="/free-education">Free Education</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Research</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/our-reach">Our Reach</a></li><br>
                                                            <li><a class="dropdown-item" href="/school-covered">Schools covered</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/colleges-covered">Colleges Covered</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/initiatives">Impact</a></li><br>
                                                            <li><a class="dropdown-item" href="/#our-stories">Success Stories</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/our-experience">Experiences</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>



                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.6s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            GET INVOLVED
                                        </a>
                                        <div class="dropdown-menu dropdownard-content px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <h4 class="dropdown-item1" style="font-weight: bold;">How to
                                                            help</h4>
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="#">Volunteering
                                                                    Opportunity</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Talent Magnet</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Carrier</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Young leader
                                                                    collective</a></li>
                                                            <li><a class="dropdown-item" href="#">CSR Opportunity</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">

                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="#">Fund Raise with us</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Fundraising
                                                                    Campaigns</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Online Donations</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Occasional
                                                                    Donations</a></li><br>
                                                            <li><a class="dropdown-item" href="#">Montly Donations</a>
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">Yearly Donations</a>
                                                            </li>
                                                            <!-- <li><a class="dropdown-item" href="#"></a></li> -->
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="#">Sponsor a kid</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#">Sponsor a School</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Donate in Honor</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Donate in Memory</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>




                              

                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 0.8s;">
                                    <div class="dropdownard">
                                        <a class="nav-link text-light text-decoration-none font-monospace"
                                            href="javascript:void(0);" role="button" id="dropdownMenuLink"
                                            aria-haspopup="true" aria-expanded="false">
                                            BLOGS
                                        </a>
                                        <div class="dropdown-menu dropdownard-content px-4 py-5"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/our-work">Our Work</a></li><br>
                                                            <li><a class="dropdown-item" href="/educational-seminars">Educational
                                                                    Seminars</a></li><br>
                                                            <li><a class="dropdown-item" href="/free-education">Free Education</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#">Research</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1"
                                                        style="border-right: 2px solid rgba(255, 255, 255, 0.587);">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/our-reach">Our Reach</a></li><br>
                                                            <li><a class="dropdown-item" href="/school-covered">Schools covered</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/colleges-covered">Colleges Covered</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-4 px-1">
                                                        <ul class="list-unstyled">
                                                            <li><a class="dropdown-item" href="/initiatives">Impact</a></li><br>
                                                            <li><a class="dropdown-item" href="/#our-stories">Success Stories</a>
                                                            </li><br>
                                                            <li><a class="dropdown-item" href="/our-experience">Experiences</a></li>
                                                            <br>
                                                            <li><a class="dropdown-item" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>





                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 1.0s;">
                                    <button type="button"
                                        class="nav-item btn text-decoration-none font-monospace text-light donate-btn">
                                        DONATE
                                    </button>
                                </li>
                                <li class="nav-item px-2 text-light"
                                    style="animation: zoomOutIn 1.0s ease-in-out forwards; animation-delay: 1.2s;">
                                    <button type="button"
                                        class="nav-item btn btn-warning text-decoration-none font-monospace login-btn">
                                        Login
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Offcanvas Component -->
    <div class="offcanvas offcanvas-end text-bg-dark" id="navbarOffcanvas">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Menu</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <!-- <li class="mr-1">
                    <a class="navbar-brand" href="#">
                        <img src="ajinkya.jpeg" alt="AJINKYA" style="width: 40px;" class="rounded-circle me-4">
                    </a>
                </li> -->
                <li class="menu_mm px-1 text-light">
                    <a href="#about-us" class="nav-link text-light text-decoration-none font-monospace"
                        style="font-weight: bold;">ABOUT US</a>
                </li>
                <li class="menu_mm px-1 text-light">
                    <a href="#get-involved" class="nav-link text-light text-decoration-none font-monospace"
                        style="font-weight: bold;">GET INVOLVED</a>
                </li>
                <li class="menu_mm px-1 text-light">
                    <a href="#programs" class="nav-link text-light text-decoration-none font-monospace"
                        style="font-weight: bold;">PROGRAMS</a>
                </li>
                <li class="menu_mm px-1 text-light">
                    <a href="#blogs" class="nav-link text-light text-decoration-none font-monospace"
                        style="font-weight: bold;">BLOGS</a>
                </li>
                <li class="menu_mm px-1 text-light">
                    <div class="dropdownard show">
                        <a class="btn btn-block dropdown-toggle dropbtnard nav-link text-light text-decoration-none font-monospace"
                            style="font-weight: bold;" href="javascript:void(0);" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu dropdownard-content" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/category/{{cat.url}}">{{cat.title}}</a>
                            <a href="/our_youtube_videos" class="dropdown-item">Videos</a>
                            <a href="/gallery" class="dropdown-item">Gallery</a>
                        </div>
                    </div>
                </li>
                <li class="menu_mm px-1 text-light">
                    <button type="button" class="nav-item btn btn-warning text-decoration-none font-monospace"
                        style="font-weight: bold; animation: zoomOutIn 0.8s ease-in-out forwards; animation-delay: 1.0s;">DONATE</button>
                </li>
            </ul>
        </div>
    </div>












































    {% comment %} ------------------------------------------
     {% endcomment %}





















































  