{% extends 'base/base.html' %} {% load static %}
{% block content %}
  <!-- Body -->
  <div class="home text-center container">
    <section class="showcase text-center">
      <video src="{% static 'videos/b_video1.mp4' %}" muted loop autoplay type="video/mp4"></video>
      <div class="overlay"></div>
      <div class="textard ml-1">
        {% comment %} <p class="text-important">
          Hello! <b></b>, welcome to
        </p> {% endcomment %}

        <h2 style="color:white;"><b>SENA FOUNDATION</b></h2>
        <h5>(SHIKSHA EVAM NAITIK AADHAR)</h5>

        <a class="my-1" href="/about-us"><i class="fa fa-play mr-1"></i> About Us</a>
        <a class="my-1" href="#"><i class="fa fa-play mr-1"></i> Donate Us</a>
      </div>
      <ul class="social">
        <li>
          <a target="_blank" href="https://ne-np.facebook.com/utkrishta.bharath.nitk"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/UtkrishtaBNitk"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/utkrishta.bharath.nitk/"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
        </li>
      </ul>
    </section>
    <!-- Menu -->
  </div>

  <!-- How we work to make a difference -->
  <section class="pt-5 py-3 pb-100 how_we_work_section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center montregular heading_section color-blue">How we work to make a difference</h2>

          <div class="row how_wrap justify-content-around align-content-around pt-30 pt-xs-10 pt-sm-10 my-2">
            <!-- Educational Empowerment -->
            <div class="we_work_wrap col-6 col-lg-3 col-md-6 text-center mb-4">
              <a href="donate-to-educational-enpowerment-program" style="color:inherit">
                <div class="circle-img" style="background-image: url('{% static 'images/educational.jpg' %}')"></div>
              </a>
              <h5><a href="donate-to-educational-enpowerment-program" style="color:inherit">Educational Empowerment</a></h5>
            </div>

            <!-- Moral and Ethical Development -->
            <div class="we_work_wrap col-6 col-lg-3 col-md-6 text-center mb-4">
              <a href="donate-to-moral-and-ethical-development" style="color:inherit">
                <div class="circle-img" style="background-image: url('{% static 'images/moral.png' %}')"></div>
              </a>
              <h5><a href="donate-to-moral-and-ethical-development" style="color:inherit">Moral and Ethical Development</a></h5>
            </div>

           
            <!-- Cultural Enrichment -->
            <div class="we_work_wrap col-6 col-lg-3 col-md-6 text-center mb-4">
              <a href="donate-to-cultural-enrichment-program" style="color:inherit">
                <div class="circle-img" style="background-image: url('{% static 'images/cultural.jpg' %}')"></div>
              </a>
              <h5><a href="donate-to-cultural-enrichment-program" style="color:inherit">Cultural Enrichment</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- impact story -->
  <!-- Outer section with full-width background image -->
  <section class="impact_wrap" id='our-stories'>
    <!-- Inner container to hold the content with padding -->
    <div class="container py-3 align-content-center">
        <div class="row">
            <div class="col-12 text-center mb-30">
                <h2 class="montregular heading_section color-white">Impact Stories</h2>
            </div>
        </div>
        <!-- Bootstrap Carousel -->
        <div id="impactCarousel" class="carousel slide stories_section" data-bs-ride="carousel">
            <div class="carousel-inner my-3">

                <!-- Start looping through stories -->
                {% for i in stories %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row align-self-center">
                        <div class="col-lg-4 col-md-4 col-12 dream_img align-self-center">
                            <img src="{{ i.image1.url }}" class="main_img" alt="{{ i.title }} Story" />
                        </div>
                        <div class="col-lg-7 col-md-7 dream_content col-12 align-self-center">
                            <div class="mt-20">
                                <h4 class="color-white montextralight pt-1">{{ i.title }}</h4>
                            </div>
                            <div class="fs-16 quotescontent">
                                <p>{{ i.excert }}</p>
                            </div>
                            <div class="mt-10">
                                <p class="montregular color-white">
                                    <a class="btn text-primary" href="impact-stories/{{ i.url }}" target="_self">Read more</a>
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>
                </div>
                {% endfor %}
                <!-- End looping through stories -->

            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#impactCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#impactCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


  <!-- THE SENA FOUNDATION about -->
  <section class="pt-xs-20 pb-xs-20 pt-sm-20 pb-sm-20 px-2">
    <div class="container py-3">
      <div class="row py-2">
        <div class="col-lg-5 align-self-center">
          <img src="{% static 'images/sena.jpeg' %}" alt="Images_about" style="width: 100%; height: auto;" />
        </div>
        <div class="col-lg-7 d-lg-block d-md-block align-self-start">
          <h2 class="montregular my-3 heading_section color-white">THE SENA FOUNDATION</h2>
          <h5 class="montregular">(SIKSHA EVAM NAITIK AADHAR)</h5>

          <p>
            SENA - Shiksha Evam Naitik Aadhar is a Bengaluru-based NGO dedicated to uplifting society through educational empowerment, moral and ethical development, and community engagement. We believe in fostering positive change by providing resources, support, and opportunities for individuals to grow holistically, from education to environmental awareness.

            Established with a focus on creating an inclusive society, SENA works at the grassroots level, focusing on Karnataka as our area of operation. Our efforts are aimed at marginalized communities, underprivileged groups, and especially children, women, and youth. We believe in not just providing education but ensuring that it is coupled with strong ethical values and leadership skills, enabling our beneficiaries to contribute positively to society.</p>

          <div class="row px-2 mb-20 vision-content">
            <div class="col-lg-6 offset1 col-md-12 col-sm-12 vision-item">
              <h4 class="m-md-2 m-sm-2">Our Vision</h4>

              <p class="desc m-md-2 m-sm-2">A society where education, ethical values, and leadership flourish, creating empowered individuals and resilient communities</p>
            </div>

            <div class="col-lg-6 offset1 col-md-12 col-sm-12 vision-item">
              <h4 class="m-md-2 m-sm-2">Our Mission</h4>

              <p class="desc m-md-2 m-sm-2">Empowering individuals through education and ethical development to build a better, sustainable society.</p>
            </div>
          </div>
          <div class="col-6 p-0">
            <a class="btn btn-readmore" href="/about-us/">Read More</a>
          </div>
        </div>
      </div>

     
    </div>
  </section>

  <!-- Fundraising Campaigns -->
  <section class="impact_wrap">
    <div class="container py-3 align-content-center">
      <div class="row">
        <div class="col-12 text-center mb-30">
          <h2 class="montregular heading_section color-white">Fundraising Campaigns</h2>
        </div>
      </div>
      <!-- Bootstrap Carousel -->
      <div id="fundraisingCarousel" class="carousel slide stories-section" data-bs-ride="carousel">
        <div class="carousel-inner my-3">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-sm-12 mb-3"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    </div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div class="col-lg-2 col-sm-12 mb-3">
                                
                            </div>  -->
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-12 mb-3"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-sm-12 mb-3"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div class="col-lg-2 col-sm-12 mb-3">
                                
                            </div>  -->
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-12 mb-3"></div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-sm-12 mb-3"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div class="col-lg-2 col-sm-12 mb-3">
                                
                            </div>  -->
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-12 mb-3"></div>
            </div>
          </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#fundraisingCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fundraisingCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>


  {% comment %}Our initiatives{% endcomment %}
  <div class="container">
    <div class="row my-2">
      <div class="col-12 text-center mb-30 mb-3">
        <h2 class="montregular heading_section color-white">Our Initiatives</h2>
      </div>
    </div>

    <div class="row">
      <!-- This is left column of the search bar -->
      <div class="col-lg-8 text-dark pe-3">
        <ul class="timeline">
          {% for i in initiatives %}
            <li class="timeline-item mb-5">
              <h5 class="fw-bold">{{ i.title }}</h5>
              <p class="text-muted mb-2 fw-bold">{{ i.date_of_initiative|date:'D, M d, Y' }}</p>
              <p class="text-muted">{{ i.excert|truncatechars:100|safe }}</p>
              <div class="container mt-3">
                <button type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">View more</button>
              </div>

              <div class="modal" id="modal{{ forloop.counter }}">
                <div class="modal-dialog modal-lg-custom modal-fullscreen-lg-down">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{ i.title }}</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      {% if i.image1 %}
                        <img src="{{ i.image1.url }}" alt="{{ i.title|safe }} image" class="img-fluid" />
                      {% endif %}
                      <p>{{ i.point_wise|safe }}</p>
                      <h4 class="mt-5">Checkout</h4>
                      <a class="text-light btn btn-dark m-2" href="/initiatives/{{ i.url }}" target="_blank" rel="noreferrer">View all</a>
                      <a class="text-light btn btn-dark m-2" href="https://ub.nitk.ac.in/" target="_blank" rel="noreferrer">Link</a>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% empty %}
            <p>No initiatives available.</p>
          {% endfor %}
        </ul>
        <div class="col-12 mt-4 read-more" style="text-align: start;">
          <a class="px-2 text-decoration-none font-monospace just" href="/initiatives">All Initiatives</a>
        </div>
        <!-- Section: Timeline -->
      </div>

      <!-- This is right column of the search bar -->
      <div class="col-lg-4">
        <div class="container">
          <img src="ajinkya.jpeg" alt="logo" class="border img-fluid" />
          <div class="m-2">
            <p class="h3 text-body-emphasis text-dark text-start">SENA Foundation</p>
            <p class="text-dark text-start">Let build society together.</p>
            <hr />

            <div class="container mt-3">
              <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">Mission</a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Empowering individuals, especially children, youth and women with knowledge, skills and values through innovative educational programs and activities. We aim to cultivate a sense of pride in the heritage of India, instill moral and ethical values to navigate life effectively, make positive choices, contribute meaningfully to society through various initiatives.</p>

                      <p>
                        <b><a class="text-decoration-none" href="about.html">Know More</a></b>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">Vision</a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>- The vision statement outlines the long-term aspirations and goals of the organization.</p>
                      <p>- It describes the desired future state or outcome the organization strives to achieve.</p>
                      <p>- It provides a clear picture of what success looks like for the organization.</p>
                      <p>- The vision statement inspires and motivates stakeholders by articulating the organization's overarching purpose and direction.</p>
                      <p>
                        <b><a class="text-decoration-none" href="education.html">Know More</a></b>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">Values</a>
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        <b>Integrity :</b>Advance
                      </p>
                      <p>
                        <b>Humility :</b>Intermidiate
                      </p>
                      <p>
                        <b>Honesty:</b>Intermidiate
                      </p>
                      <p>
                        <b>simplicity :</b>Intermidiate
                      </p>
                      <p>
                        <b><a class="text-decoration-none" href="skill.html">Know More</a></b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- volunteering opportunities -->
  <section style="background-color: #F4BC21;">
    <div class="py-3 m-lg-5 m-md-3 m-sm-1">
      <div class="row">
        <div class="col-12 text-center mb-30 mt-3 py-3">
          <h2 class="montregular heading_section color-white">Volunteering Opportunities</h2>
        </div>
      </div>
      <div class="section no-padding">
        <ul class="ministriesGrid ministriesGrid-useDescriptions">
          
          {%for i in ministry%}
          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="volunteer-for-/{{i.url}}" class="ministriesGrid-link">
                <img src="{{ i.image.url }}" class="ministriesGrid-image lazyloaded" alt="{{ i.title }}" />
                <p class="ministriesGrid-title">{{ i.title }}</p>
                <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                    <div class="ministriesGrid-content">
                        <p class="ministriesGrid-caption">{{ i.caption }}</p>
                        <span class="btn btn-inverse btn-black ministriesGrid-btn">More Info</span>
                    </div>
                </div>
            </a>
        </li>
        {%endfor%}        
        </ul>
      </div>
    </div>
  </section>



    <!-- Latest Updates -->
    <div class="container py-1">
        <div class="container text-center py-2 my-1">
          <h1>Latest Updates</h1>
        </div>
        <div class="row">
          {% for i in updates %}
            <div class="col-lg-3 col-md-12 my-2">
              <div class="card p-2" style="width:auto; height: 100%;">
                <img class="card-img-top" src="{{ i.thumbnail.url }}" alt="Image" style="width:100%; height:auto;" />
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.excerpt|truncatechars:100 }}</p>
                  <small class="text-muted">{{ i.publish }}</small>
                  <a href="/category/blog/{{ i.url }}" class="btn btn-warning">View More</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-12 my-4 read-more" style="text-align: center;">
          <a class="px-2 text-decoration-none font-monospace just" href="/category">View all</a>
        </div>
      </div>
    

  <!-- Impact Stories -->
  <!--  <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center mb-30 mb-3">
                <h2 class="montregular heading_section color-white">Impact Stories</h2>
            </div>
        </div>
        <div class="row wow fadeInLeft" data-wow-delay=".3s">
            <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">
                <h4 class="text-center font-bold" style="font-weight: 400; color: black;"><b>Talk in schools</b></h6>
                    <img class="img-fluid rounded z-depth-2" src="../images/2.jpeg" alt="project image" />
                    <p>Conducted on :a asdfasd </p>
            </div>
            <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4 slide-left">


                <div class="row mb-3">
                    <div class="mr-1"></div>
                    <div class="">
                        <h6 class="" style="color: black;">
                            </h5>
                            <p class="grey-text" style="color: black;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi omnis dolores
                                quisquam laborum rerum, unde doloremque nulla quas blanditiis neque ullam maxime
                                expedita. Optio dolore nesciunt laborum distinctio? Iure maxime officiis saepe itaque
                                repellendus, velit consequuntur culpa. Unde quia voluptas numquam autem ullam beatae
                                placeat est vero.
                            </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="mr-1"></div>
                    <div class="">
                        <h6 class="" style="color: black;">
                            </h5>
                            <p class="grey-text" style="color: black;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem, nam architecto
                                a dolores commodi exercitationem itaque? Qui rerum numquam possimus ducimus
                                necessitatibus, sapiente, fugiat beatae error quo dolorum neque.
                            </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="mr-1"></div>
                    <div class="">
                        <h6 class="" style="color: black;">
                            </h5>
                            <p class="grey-text" style="color: black;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt accusamus ratione
                                repudiandae error eligendi in id, nostrum corrupti obcaecati totam sed numquam odio
                                ullam cum autem eum aspernatur tenetur neque?
                            </p>
                    </div>
                </div>

            </div>
        </div>
        <hr />

    </div>  -->

  
  
    
{% endblock %}
