{% extends 'base/base.html' %} {% load static %}
{% block content %}
  <!-- Body -->
  <div class="home text-center container">
    <section class="showcase text-center">
      <video src="{% static 'videos/b_video1.mp4' %}" muted loop autoplay type="video/mp4"></video>
      <div class="overlay"></div>
      <div class="textard ml-1">
        <p class="text-important">
          Hello! <b></b>, welcome to
        </p>

        <h2 style="color:white;"><b>SENA FOUNDATION</b></h2>
        <h5>(SHIKSHA EVAM NAITIK AADHAR)</h5>

        <a class="my-1" href="https://www.youtube.com/watch?v=7GKmAm_mXJM" target="_blank"><i class="fa fa-play mr-1"></i> About Us</a>
      </div>
      <ul class="social">
        <li>
          <a target="_blank" href="https://ne-np.facebook.com/utkrishta.bharath.nitk"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/UtkrishtaBNitk"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/utkrishta.bharath.nitk/"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
        </li>
      </ul>
    </section>
    <!-- Menu -->
  </div>

  <!-- How we work to make a difference -->
  <section class="pt-5 py-3 pb-100 how_we_work_section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center montregular heading_section color-blue">How we work to make a difference</h2>

          <div class="row how_wrap justify-content-around align-content-around pt-30 pt-xs-10 pt-sm-10 my-2">
            <div class="we_work_wrap col-6 col-md-3 text-center mb-1">
              <a href="donate-to-educational-enpowerment-program" style="color:inherit"><div class="circle-img" style="background-image: url('{% static 'images/educational.jpg' %}')"></div></a>
              <h5><a href="donate-to-educational-enpowerment-program" style="color:inherit">Educational Empowerment</a></h5>
            </div>

            <div class="we_work_wrap col-6 col-md-3 text-center mb-1">
              <a href="donate-to-moral-and-ethical-development" style="color:inherit"><div class="circle-img" style="background-image: url('{% static 'images/moral.png' %}')"></div></a>
              <h5><a href="donate-to-moral-and-ethical-development" style="color:inherit">Moral and Ethical Development</a></h5>
            </div>

            <div class="we_work_wrap col-6 col-md-3 text-center mb-1">
              <a href="donate-to-mental-health-and-wellbeing-program" style="color:inherit"><div class="circle-img" style="background-image: url('{% static 'images/mental.jpg' %}')"></div></a>
              <h5><a href="donate-to-mental-health-and-wellbeing-program" style="color:inherit">Mental Health</a></h5>
            </div>

            <div class="we_work_wrap col-6 col-md-3 text-center mb-1">
              <a href="donate-to-cultural-enrichment-program" style="color:inherit"><div class="circle-img" style="background-image: url('{% static 'images/cultural.jpg' %}')"></div></a>
              <h5><a href="donate-to-cultural-enrichment-program" style="color:inherit">Cultural Enrichment</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- impact story -->
  <!-- Outer section with full-width background image -->
  <section class="impact_wrap">
    <!-- Inner container to hold the content with padding -->
    <div class="container py-3 align-content-center">
        <div class="row">
            <div class="col-12 text-center mb-30">
                <h2 class="montregular heading_section color-white">Impact Stories</h2>
            </div>
        </div>
        <!-- Bootstrap Carousel -->
        <div id="impactCarousel" class="carousel slide stories_section" data-bs-ride="carousel">
            <div class="carousel-inner my-3">

                <!-- Start looping through stories -->
                {% for i in stories %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row align-self-center">
                        <div class="col-lg-4 col-md-4 col-12 dream_img align-self-center">
                            <img src="{{ i.image1.url }}" class="main_img" alt="{{ i.title }} Story" />
                        </div>
                        <div class="col-lg-7 col-md-7 dream_content col-12 align-self-center">
                            <div class="mt-20">
                                <h5 class="color-white h5 montextralight pt-1">{{ i.title }}</h5>
                            </div>
                            <div class="fs-16 quotescontent">
                                <p>{{ i.excert }}</p>
                            </div>
                            <div class="mt-10">
                                <p class="montregular color-white">
                                    <a href="impact-stories/{{ i.url }}" target="_self">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>
                </div>
                {% endfor %}
                <!-- End looping through stories -->

            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#impactCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#impactCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


  <!-- THE SENA FOUNDATION about -->
  <section class="pt-xs-20 pb-xs-20 pt-sm-20 pb-sm-20">
    <div class="container py-3">
      <div class="row py-2">
        <div class="col-lg-5 col-md-5 d-none d-sm-block align-self-center">
          <img src="../images/12.png" alt="Images_about" style="width: 100%; height: auto;" />
        </div>
        <div class="col-lg-7 col-md-7 d-lg-block d-md-block align-self-start">
          <h2 class="montregular heading_section color-white">THE SENA FOUNDATION</h2>
          <h5 class="montregular">(SIKSHA EVAM NAITIK AADHAR)</h5>

          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi provident nihil sapiente excepturi, qui laborum nam sunt quo autem eveniet? Fugiat obcaecati, maiores excepturi accusamus, eveniet placeat cumque reprehenderit assumenda eligendi laborum officiis quaerat illo, repellendus dolores amet facere deserunt aperiam? Iure, dolores aspernatur enim reiciendis quisquam minima perspiciatis consectetur dolorum sapiente necessitatibus, tempore soluta, consequatur facilis at! Consectetur, totam. Dignissimos id officia veniam tenetur eos, sed quo. Libero, ratione.</p>

          <div class="row mx-2 mb-20 vision-content">
            <div class="col-lg-6 offset1 col-md-6 col-sm-12 vision-item">
              <h4 class="m-md-2 m-sm-2">Our Vision</h4>

              <p class="desc m-md-2 m-sm-2">No child in India shall be deprived of education because of hunger</p>
            </div>

            <div class="col-lg-6 offset1 col-md-6 col-sm-12 vision-item">
              <h4 class="m-md-2 m-sm-2">Our Mission</h4>

              <p class="desc m-md-2 m-sm-2">To feed 3 million children everyday by 2025</p>
            </div>
          </div>
          <div class="col-6 p-0">
            <a class="btn btn-readmore" href="/about-us/">Read More</a>
          </div>
        </div>
      </div>

      <div class="row align-self-center justify-content-around mt-5 digit_static">
        <div class="col-3 justify-content-center align-items-center static_item">
          <img src="../images/1.jpeg" class="static_image" alt="" />
          <div class="content_wrap">
            <h6 class="text-dark p-1" style="font-weight: bold;">Over 4 billion meals served</h6>
          </div>
        </div>

        <div class="col-3 justify-content-center align-items-center static_item">
          <img src="../images/4.jpeg" class="static_image" alt="" />
          <div class="content_wrap">
            <h6 class="text-dark p-1" style="font-weight: bold;">Over 2.2 million+ children benefitted</h6>
          </div>
        </div>

        <div class="col-3 justify-content-center align-items-center static_item">
          <img src="../images/3.jpg" class="static_image" alt="" />
          <div class="content_wrap">
            <h6 class="text-dark p-1" style="font-weight: bold;">Reached to over 23,000 schools</h6>
          </div>
        </div>

        <div class="col-3 justify-content-center align-items-center static_item">
          <img src="../images/1.jpeg" class="static_image" alt="" />
          <div class="content_wrap">
            <h6 class="text-dark p-1" style="font-weight: bold;">16 States and 2 Union Territories</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Fundraising Campaigns -->
  <section class="impact_wrap">
    <div class="container py-3 align-content-center">
      <div class="row">
        <div class="col-12 text-center mb-30">
          <h2 class="montregular heading_section color-white">Fundraising Campaigns</h2>
        </div>
      </div>
      <!-- Bootstrap Carousel -->
      <div id="fundraisingCarousel" class="carousel slide stories-section" data-bs-ride="carousel">
        <div class="carousel-inner my-3">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-sm-12 mb-3"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    </div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div class="col-lg-2 col-sm-12 mb-3">
                                
                            </div>  -->
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-12 mb-3"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-sm-12 mb-3"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div class="col-lg-2 col-sm-12 mb-3">
                                
                            </div>  -->
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-12 mb-3"></div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-sm-12 mb-3"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div class="col-lg-2 col-sm-12 mb-3">
                                
                            </div>  -->
              <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="card p-2" style="height: 100%;">
                  <img class="card-img-top" src="../images/1.jpeg" alt="Card image" style="width:100%; height:auto;" />
                  <div class="card-body">
                    <div class="progress-bar progress-bar-animated bg-success progress-bar-striped btn btn-primary" style="width:30%" data-bs-toggle="tooltip" title="30%"></div>
                    <div style="text-align: center;" class="justify-content-center align-items-center">
                      <p class="card-text pt-3 pb-0">
                        Raised: Rs. 4224242 <br />Goal: Rs. 4224242
                      </p>
                      <hr />
                      <h5 class="card-title pt-0" style="font-weight: bold;">Fund a students free education</h5>
                      <a href="#" class="btn btn-warning">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-12 mb-3"></div>
            </div>
          </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#fundraisingCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fundraisingCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>


  {% comment %}Our initiatives{% endcomment %}
  <div class="container">
    <div class="row my-2">
      <div class="col-12 text-center mb-30 mb-3">
        <h2 class="montregular heading_section color-white">Our Initiatives</h2>
      </div>
    </div>

    <div class="row">
      <!-- This is left column of the search bar -->
      <div class="col-lg-8 text-dark pe-3">
        <ul class="timeline">
          {% for i in initiatives %}
            <li class="timeline-item mb-5">
              <h5 class="fw-bold">{{ i.title }}</h5>
              <p class="text-muted mb-2 fw-bold">{{ i.date_of_initiative|date:'D, M d, Y' }}</p>
              <p class="text-muted">{{ i.excert|truncatechars:100|safe }}</p>
              <div class="container mt-3">
                <button type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">View more</button>
              </div>

              <div class="modal" id="modal{{ forloop.counter }}">
                <div class="modal-dialog modal-lg-custom modal-fullscreen-lg-down">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{ i.title }}</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      {% if i.image1 %}
                        <img src="{{ i.image1.url }}" alt="{{ i.title|safe }} image" class="img-fluid" />
                      {% endif %}
                      <p>{{ i.point_wise|safe }}</p>
                      <h4 class="mt-5">Checkout</h4>
                      <a class="text-light btn btn-dark m-2" href="/initiatives/{{ i.url }}" target="_blank" rel="noreferrer">View all</a>
                      <a class="text-light btn btn-dark m-2" href="https://ub.nitk.ac.in/" target="_blank" rel="noreferrer">Link</a>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% empty %}
            <p>No initiatives available.</p>
          {% endfor %}
        </ul>
        <!-- Section: Timeline -->
      </div>

      <!-- This is right column of the search bar -->
      <div class="col-lg-4">
        <div class="container">
          <img src="ajinkya.jpeg" alt="logo" class="border img-fluid" />
          <div class="m-2">
            <p class="h3 text-body-emphasis text-dark text-start">SENA Foundation</p>
            <p class="text-dark text-start">Let build society together.</p>
            <hr />

            <div class="container mt-3">
              <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">Mission</a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Empowering individuals, especially children, youth and women with knowledge, skills and values through innovative educational programs and activities. We aim to cultivate a sense of pride in the heritage of India, instill moral and ethical values to navigate life effectively, make positive choices, contribute meaningfully to society through various initiatives.</p>

                      <p>
                        <b><a class="text-decoration-none" href="about.html">Know More</a></b>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">Vision</a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>- The vision statement outlines the long-term aspirations and goals of the organization.</p>
                      <p>- It describes the desired future state or outcome the organization strives to achieve.</p>
                      <p>- It provides a clear picture of what success looks like for the organization.</p>
                      <p>- The vision statement inspires and motivates stakeholders by articulating the organization's overarching purpose and direction.</p>
                      <p>
                        <b><a class="text-decoration-none" href="education.html">Know More</a></b>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">Values</a>
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        <b>Integrity :</b>Advance
                      </p>
                      <p>
                        <b>Humility :</b>Intermidiate
                      </p>
                      <p>
                        <b>Honesty:</b>Intermidiate
                      </p>
                      <p>
                        <b>simplicity :</b>Intermidiate
                      </p>
                      <p>
                        <b><a class="text-decoration-none" href="skill.html">Know More</a></b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Learn how you can help -->
  <section style="background-color: #F4BC21;">
    <div class="py-3 m-lg-5 m-md-3 m-sm-1">
      <div class="row">
        <div class="col-12 text-center mb-30 mt-3 py-3">
          <h2 class="montregular heading_section color-white">Learn how you can help</h2>
        </div>
      </div>
      <div class="section no-padding">
        <ul class="ministriesGrid ministriesGrid-useDescriptions">
          
          
          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/brighten-the-holidays/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/494a13aa-b719-41ec-836f-e8c7e9dacc29_grid_holidays.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Holiday Giving" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/494a13aa-b719-41ec-836f-e8c7e9dacc29_grid_holidays.jpg" />
              <p class="ministriesGrid-title">Holiday Giving</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Each year, millions of children don't have any Christmas gifts to unwrap because there's no money in the budget.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Holiday Giving</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/rent-mortgage-and-utility-assistance/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/d2509657-829b-4bf7-80b7-a2e1d43500a1_rentandutilityassistance.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Rent and Utility Assistance" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/d2509657-829b-4bf7-80b7-a2e1d43500a1_rentandutilityassistance.jpg" />
              <p class="ministriesGrid-title">Rent and Utility Assistance</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">The Salvation Army provided $3,870,131 in financial assistance in 2021.</p>

                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Rent and Utility Assistance</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/provide-shelter/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/93ed9b06-295b-4d51-a6c5-ea253f47c8e2_grid_shelter.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Homeless Shelters" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/93ed9b06-295b-4d51-a6c5-ea253f47c8e2_grid_shelter.jpg" />
              <p class="ministriesGrid-title">Homeless Shelters</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">More than half a million people experience homelessness in America every day.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Homeless Shelters</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/cure-hunger/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/c77a310f-eb61-4e2d-b315-45a6f9a901f4_grid_hunger.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Food Pantries" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/c77a310f-eb61-4e2d-b315-45a6f9a901f4_grid_hunger.jpg" />
              <p class="ministriesGrid-title">Food Pantries</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Every day, almost 50 million Americans face food insecurity.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Food Pantries</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/rehabilitation/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/55d6a962-0c28-464b-ae64-336a1b64b0a8_grid_addiction.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Rehabilitation" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/55d6a962-0c28-464b-ae64-336a1b64b0a8_grid_addiction.jpg" />
              <p class="ministriesGrid-title">Rehabilitation</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Alcohol abuse kills 75,000 people in the United States every year.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Rehabilitation</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/equip-families" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/e02ba04f-c37e-47ea-835a-1da5736593a8_summercamps.png" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Summer Camps" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/e02ba04f-c37e-47ea-835a-1da5736593a8_summercamps.png" />
              <p class="ministriesGrid-title">Summer Camps</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">The Salvation Army Gives Kids and Families a Chance at a Better Life</p>

                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Summer Camps</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/help-disaster-survivors/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/668a321b-96cc-4d73-948b-62053b4a5800_grid_disaster.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Disaster Relief" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/668a321b-96cc-4d73-948b-62053b4a5800_grid_disaster.jpg" />
              <p class="ministriesGrid-title">Disaster Relief</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Over 90 million Americans become survivors of natural disasters every year.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Disaster Relief</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/the-lgtbq-community-and-the-salvation-army/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/c2864600-3445-4ac6-9081-fb5819e93b29_LGBT.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="LGBTQ+ Support" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/c2864600-3445-4ac6-9081-fb5819e93b29_LGBT.jpg" />
              <p class="ministriesGrid-title">LGBTQ+ Support</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Forty percent of homeless youth in the United States identifies as LGBTQ+</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">LGBTQ+ Support</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/stop-domestic-abuse/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/e713c5df-a594-4f79-8002-2d24f2f80798_grid_domestic_abuse.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Help for Domestic Abuse" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/e713c5df-a594-4f79-8002-2d24f2f80798_grid_domestic_abuse.jpg" />
              <p class="ministriesGrid-title">Help for Domestic Abuse</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Every hour in the U.S., 400 women become victims of domestic and psychological abuse.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Help for Domestic Abuse</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/love-the-elderly/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/2f4259cb-bd77-4ee5-b9fc-37da1c876a9e_Love-the-elderly-button.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Services for the Aging" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/2f4259cb-bd77-4ee5-b9fc-37da1c876a9e_Love-the-elderly-button.jpg" />
              <p class="ministriesGrid-title">Services for the Aging</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Each year, depression affects 7 million Americans over the age of 65.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Services for the Aging</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/assist-the-unemployed/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/07df640a-b76c-4a57-be1e-7db1b6261381_grid_jobs.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Job Training" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/07df640a-b76c-4a57-be1e-7db1b6261381_grid_jobs.jpg" />
              <p class="ministriesGrid-title">Job Training</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Among homeless people, nearly 1 in 3 suffer from a mental health disorder.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Job Training</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/serve-veterans/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/5db18724-8711-463e-b8c4-dbf7782f687c_serve-veterans-button.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Veteran Services" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/5db18724-8711-463e-b8c4-dbf7782f687c_serve-veterans-button.jpg" />
              <p class="ministriesGrid-title">Veteran Services</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Veterans make up 8% of the homeless population in the U.S.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Veteran Services</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/overcome-poverty/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/a3b8f247-ea24-4e35-a0f8-9ae8986f60b7_grid_poverty.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Life Skills to Escape Poverty" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/a3b8f247-ea24-4e35-a0f8-9ae8986f60b7_grid_poverty.jpg" />
              <p class="ministriesGrid-title">Life Skills to Escape Poverty</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Fourteen percent of Americans live below the poverty line.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Life Skills to Escape Poverty</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/share-gods-love/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/c466b60f-05c2-4df6-bd3b-61c88218d432_grid_love.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Spiritual and Worship Services" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/c466b60f-05c2-4df6-bd3b-61c88218d432_grid_love.jpg" />
              <p class="ministriesGrid-title">Spiritual and Worship Services</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Eight out of 10 Americans believe spiritual faith assists in disease recovery.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Spiritual and Worship Services</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/the-greatest-need/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/73adba9f-363c-4ba7-9267-26fc8723ccec_grid_need.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Grassroots Services" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/73adba9f-363c-4ba7-9267-26fc8723ccec_grid_need.jpg" />
              <p class="ministriesGrid-title">Grassroots Services</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">Eighty-two cents of every dollar given to The Salvation Army goes to work in the community in which it was donated.</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Grassroots Services</span>
                </div>
              </div>
            </a>
          </li>

          <li class="ministriesGrid-item js-showOnHoverParent">
            <a href="https://www.salvationarmyusa.org/usn/fight-human-trafficking/" class="ministriesGrid-link">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/fd50f4b5-1bbf-4421-97e2-97f31fbd008c_grid_trafficking.jpg" class="ministriesGrid-image lazyloaded" sizes="(max-width: 768px)" alt="Responses to Human Trafficking" srcset="https://s3.amazonaws.com/usn-cache.salvationarmy.org/fd50f4b5-1bbf-4421-97e2-97f31fbd008c_grid_trafficking.jpg" />
              <p class="ministriesGrid-title">Responses to Human Trafficking</p>
              <div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
                <div class="ministriesGrid-content">
                  <p class="ministriesGrid-caption">There are 5.4 victims of human trafficking for every 1,000 people in the world (ILO).</p>
                  <span class="btn btn-inverse btn-black ministriesGrid-btn">Responses to Human Trafficking</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>



    <!-- Latest Updates -->
    <div class="container pt-3">
        <div class="container text-center py-2 my-1">
          <h1>Latest Updates</h1>
        </div>
        <div class="row">
          {% for i in updates %}
            <div class="col-lg-3 col-md-12 my-2">
              <div class="card p-2" style="width:auto; height: 100%;">
                <img class="card-img-top" src="{{ i.thumbnail.url }}" alt="Image" style="width:100%; height:auto;" />
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.excerpt|truncatechars:100 }}</p>
                  <small class="text-muted">{{ i.publish }}</small>
                  <a href="/blog/{{ i.url }}" class="btn btn-warning">View More</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-12 mt-4 read-more" style="text-align: center;">
          <a class="px-2 text-decoration-none font-monospace just" href="/#">View all</a>
        </div>
      </div>
    

  <!-- Impact Stories -->
  <!--  <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center mb-30 mb-3">
                <h2 class="montregular heading_section color-white">Impact Stories</h2>
            </div>
        </div>
        <div class="row wow fadeInLeft" data-wow-delay=".3s">
            <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">
                <h4 class="text-center font-bold" style="font-weight: 400; color: black;"><b>Talk in schools</b></h6>
                    <img class="img-fluid rounded z-depth-2" src="../images/2.jpeg" alt="project image" />
                    <p>Conducted on :a asdfasd </p>
            </div>
            <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4 slide-left">


                <div class="row mb-3">
                    <div class="mr-1"></div>
                    <div class="">
                        <h6 class="" style="color: black;">
                            </h5>
                            <p class="grey-text" style="color: black;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi omnis dolores
                                quisquam laborum rerum, unde doloremque nulla quas blanditiis neque ullam maxime
                                expedita. Optio dolore nesciunt laborum distinctio? Iure maxime officiis saepe itaque
                                repellendus, velit consequuntur culpa. Unde quia voluptas numquam autem ullam beatae
                                placeat est vero.
                            </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="mr-1"></div>
                    <div class="">
                        <h6 class="" style="color: black;">
                            </h5>
                            <p class="grey-text" style="color: black;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem, nam architecto
                                a dolores commodi exercitationem itaque? Qui rerum numquam possimus ducimus
                                necessitatibus, sapiente, fugiat beatae error quo dolorum neque.
                            </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="mr-1"></div>
                    <div class="">
                        <h6 class="" style="color: black;">
                            </h5>
                            <p class="grey-text" style="color: black;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt accusamus ratione
                                repudiandae error eligendi in id, nostrum corrupti obcaecati totam sed numquam odio
                                ullam cum autem eum aspernatur tenetur neque?
                            </p>
                    </div>
                </div>

            </div>
        </div>
        <hr />

    </div>  -->

  
  
    
{% endblock %}
