{% extends 'base/base_other_pages.html' %}

{% block content %}
  <div class="shop-page-title category-page-title page-title">
    <div class="page-title-inner flex-row medium-flex-wrap container">
      <div class="flex-col flex-grow medium-text-center">
        <div class="is-small"></div>
        <div class="category-filtering category-filter-row show-for-medium">
          <a href="#" data-open="#shop-sidebar" data-visible-after="true" data-pos="left" class="filter-button uppercase plain">
            <i class="icon-equalizer"></i>
            <strong>Filter</strong>
          </a>
          <div class="inline-block"></div>
        </div>
      </div>
      <div class="flex-col medium-text-center">
        <p class="woocommerce-result-count hide-for-medium">Showing 1–20 of 89 results</p>
        <form class="woocommerce-ordering" method="get">
          <select name="orderby" class="orderby" aria-label="Shop order">
            <option value="popularity">Sort by popularity</option>
            <option value="date" selected="selected">Sort by latest</option>
            <option value="price">Sort by price: low to high</option>
            <option value="price-desc">Sort by price: high to low</option>
          </select>
          <input type="hidden" name="paged" value="1" />
        </form>
      </div>
    </div>
  </div>

  <main id="main" class="">
    <div class="row category-page-row">
      <div class="col large-3 hide-for-medium">
        <div class="is-sticky-column">
          <div class="is-sticky-column__inner" style="position: relative; transform: translate3d(0px, 0px, 0px);">
            <div id="shop-sidebar" class="sidebar-inner col-inner">
              <aside id="nav_menu-4" class="widget widget_nav_menu">
                <span class="widget-title shop-sidebar">Seva Categories</span><div class="is-divider small"></div>
                <div class="menu-sidebar-container">
                  <ul id="menu-sidebar" class="menu">
                    <li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item current_page_item menu-item-171">
                      <a href="#" aria-current="page">All</a>
                    </li>
                    <li id="menu-item-164" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-164">
                      <a href="#">Become A Member</a>
                    </li>
                    <li id="menu-item-165" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-165">
                      <a href="#">Deity Seva</a>
                    </li>
                    <li id="menu-item-168" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-168">
                      <a href="#">Shastra Dhaan</a>
                    </li>
                    <li id="menu-item-167" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-167">
                      <a href="#">Festival Seva</a>
                    </li>
                    <li id="menu-item-166" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-166">
                      <a href="#">Donations</a>
                    </li>
                    <li id="menu-item-169" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-169">
                      <a href="#">Special Sevas</a>
                    </li>
                    <li id="menu-item-170" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-170">
                      <a href="#">New Temple Project Seva</a>
                    </li>
                    <li id="menu-item-247" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-247">
                      <a href="#">Vyasa Puja</a>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>

      <div class="col large-9">
        <div class="shop-container">
          <div class="woocommerce-notices-wrapper"></div>
          <div class="products row row-small large-columns-3 medium-columns-3 small-columns-1 has-shadow row-box-shadow-2 row-box-shadow-5-hover has-equal-box-heights">
            <div class="product-small col has-hover product type-product post-42083 status-publish first instock product_cat-radhashtami has-post-thumbnail shipping-taxable purchasable product-type-simple">
              <div class="col-inner">
                <div class="badge-container absolute left top z-1"></div>
                <div class="product-small box">
                  <div class="box-image">
                    <div class="image-none">
                      <a href="https://donations.iskconsouthbengaluru.com/seva/annadhana-seva-radhastami-50-members/" aria-label="Annadhana Seva - Radhastami (50 Members)"><img width="300" height="300" src="//cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/annadan-sewa-300x300.jpeg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="//cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/annadan-sewa-300x300.jpeg 300w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/annadan-sewa-150x150.jpeg 150w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/annadan-sewa-100x100.jpeg 100w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/annadan-sewa-50x50.jpeg 50w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/annadan-sewa-32x32.jpeg 32w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                    </div>
                    <div class="image-tools is-small top right show-on-hover"></div>
                    <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                  </div>

                  <div class="box-text box-text-products text-center grid-style-2">
                    <div class="title-wrapper">
                      <p class="category uppercase is-smaller no-text-overflow product-cat op-7">radhashtami</p>
                      <p class="name product-title woocommerce-loop-product__title">
                        <a href="https://donations.iskconsouthbengaluru.com/seva/annadhana-seva-radhastami-50-members/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">Annadhana Seva – Radhastami (50 Members)</a>
                      </p>
                    </div>
                    <div class="price-wrapper">
                      <span class="price">
                        <span class="woocommerce-Price-amount amount">
                          <bdi>
                            <span class="woocommerce-Price-currencySymbol">₹</span>&nbsp;5,108.00
                          </bdi>
                        </span>
                      </span>
                    </div>
                    <div class="add-to-cart-button">
                      <a href="?add-to-cart=42083" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-gloss" data-product_id="42083" data-product_sku="" aria-label="Add “Annadhana Seva - Radhastami (50 Members)” to your cart" rel="nofollow">Add To Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="product-small col has-hover product type-product post-42081 status-publish instock product_cat-radhashtami has-post-thumbnail shipping-taxable purchasable product-type-simple">
              <div class="col-inner">
                <div class="badge-container absolute left top z-1"></div>
                <div class="product-small box">
                  <div class="box-image">
                    <div class="image-none">
                      <a href="https://donations.iskconsouthbengaluru.com/seva/annadhana-seva-radhastami-100-members/" aria-label="Annadhana Seva - Radhastami (100 Members)"><img width="300" height="300" src="//cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/Annadan-Seva-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="//cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/Annadan-Seva-300x300.jpg 300w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/Annadan-Seva-150x150.jpg 150w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/Annadan-Seva-100x100.jpg 100w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/Annadan-Seva-50x50.jpg 50w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/Annadan-Seva-32x32.jpg 32w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                    </div>
                    <div class="image-tools is-small top right show-on-hover"></div>
                    <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                  </div>

                  <div class="box-text box-text-products text-center grid-style-2">
                    <div class="title-wrapper">
                      <p class="category uppercase is-smaller no-text-overflow product-cat op-7">radhashtami</p>
                      <p class="name product-title woocommerce-loop-product__title">
                        <a href="https://donations.iskconsouthbengaluru.com/seva/annadhana-seva-radhastami-100-members/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">Annadhana Seva – Radhastami (100 Members)</a>
                      </p>
                    </div>
                    <div class="price-wrapper">
                      <span class="price">
                        <span class="woocommerce-Price-amount amount">
                          <bdi>
                            <span class="woocommerce-Price-currencySymbol">₹</span>&nbsp;10,108.00
                          </bdi>
                        </span>
                      </span>
                    </div>
                    <div class="add-to-cart-button">
                      <a href="?add-to-cart=42081" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-gloss" data-product_id="42081" data-product_sku="" aria-label="Add “Annadhana Seva - Radhastami (100 Members)” to your cart" rel="nofollow">Add To Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="product-small col has-hover product type-product post-42079 status-publish last instock product_cat-radhashtami has-post-thumbnail shipping-taxable purchasable product-type-simple">
              <div class="col-inner">
                <div class="badge-container absolute left top z-1"></div>
                <div class="product-small box">
                  <div class="box-image">
                    <div class="image-none">
                      <a href="https://donations.iskconsouthbengaluru.com/seva/raj-bhoga-seva-2/" aria-label="Raj Bhoga Seva"><img width="300" height="300" src="//cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/RajBhog-Thali-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="//cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/RajBhog-Thali-300x300.jpg 300w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/RajBhog-Thali-150x150.jpg 150w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/RajBhog-Thali-100x100.jpg 100w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/RajBhog-Thali-50x50.jpg 50w, //cdn-6247bd21c1ac19ed28d56f13.closte.com/wp-content/uploads/sites/6/2024/08/RajBhog-Thali-32x32.jpg 32w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                    </div>
                    <div class="image-tools is-small top right show-on-hover"></div>
                    <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                  </div>

                  <div class="box-text box-text-products text-center grid-style-2">
                    <div class="title-wrapper">
                      <p class="category uppercase is-smaller no-text-overflow product-cat op-7">radhashtami</p>
                      <p class="name product-title woocommerce-loop-product__title">
                        <a href="https://donations.iskconsouthbengaluru.com/seva/raj-bhoga-seva-2/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">Raj Bhoga Seva</a>
                      </p>
                    </div>
                    <div class="price-wrapper">
                      <span class="price">
                        <span class="woocommerce-Price-amount amount">
                          <bdi>
                            <span class="woocommerce-Price-currencySymbol">₹</span>&nbsp;3,108.00
                          </bdi>
                        </span>
                      </span>
                    </div>
                    <div class="add-to-cart-button">
                      <a href="?add-to-cart=42079" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-gloss" data-product_id="42079" data-product_sku="" aria-label="Add “Raj Bhoga Seva” to your cart" rel="nofollow">Add To Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- row -->
          <div class="container">
            <nav class="woocommerce-pagination" style="display: none;">
              <ul class="page-numbers nav-pagination links text-center">
                <li>
                  <span aria-current="page" class="page-number current">1</span>
                </li>
                <li>
                  <a class="page-number" href="https://donations.iskconsouthbengaluru.com/page/2/">2</a>
                </li>
                <li>
                  <a class="page-number" href="https://donations.iskconsouthbengaluru.com/page/3/">3</a>
                </li>
                <li>
                  <a class="page-number" href="https://donations.iskconsouthbengaluru.com/page/4/">4</a>
                </li>
                <li>
                  <a class="page-number" href="https://donations.iskconsouthbengaluru.com/page/5/">5</a>
                </li>
                <li>
                  <a class="next page-number" href="https://donations.iskconsouthbengaluru.com/page/2/"><i class="icon-angle-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="page-load-status">
            <div class="loader-spinner infinite-scroll-request text-center">
              <div class="loading-spin"></div>
            </div>
          </div>
        </div>
        <!-- shop container -->
      </div>
    </div>
  </main>
{% endblock %}
