<!-- view_cart.html -->
{% load multiply %}
<!-- templates/view_cart.html -->
<h1>Your Cart</h1>
<table>
    <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ cart|get_item:item.id }}</td>
        <td>${{ item.price }}</td>
        <td>${{ item.price|multiply:cart|get_item:item.id }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Total Price: ${{ total_price }}</h2>
<a href="{% url 'payment_page' %}">Proceed to Payment</a>
